<!DOCTYPE html>
<html lang="<%= config.language || 'en' %>">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <%
    var title = config.title;
    var separator = theme.separator;
    separator = ` ${separator} `;

    if (is_home()){
      if (config.subtitle) {
        title += separator + config.subtitle;
      }
    }

    if (is_archive()) {
      title = __('Archives') + separator + title;
    }

    if (is_tag()) {
      title = __('Post.Tags') + ' : ' + page.tag + separator + title;
    }

    if (page.title) {
      title = page.title + separator + title;
    }
  %>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <%
    let keywords = theme.keywords, tmp = [];

    if (page.tags && page.tags.length) {
      page.tags.forEach(function(tag) {
        tmp.push(tag.name);
      });

      keywords = tmp.join(',');
    }
  %>
  <meta name="keywords" content=<%= keywords %>>
  <% if (config.description){ %>
    <meta name="description" content="<%= config.description %>">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="shortcut icon" type="image/x-icon" href="<%= url_for(theme.favicon) %>?v=1.02">
  <% } %>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %> " title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/9.2.0/styles/github.min.css">
  <script src="//cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=default"></script>
  <script>
      hljs.initHighlightingOnLoad();
  </script>
  <script type='text/x-mathjax-config'>
        MathJax.Hub.Config({
            extensions: ["tex2jax.js"],
            jax: ["input/TeX", "output/SVG"],
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
            },
            messageStyle: "none"
        });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44085500-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-44085500-1');
    </script>

  <%- css('/css/style.css') %>
</head>
