<%- partial('_partial/header') %>
<article class="post">
  <div class="post-title">
    <h1 class="article-title"><%= page.title %></h1>
  </div>
   <div class="post-meta">
    <span class="post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
  </div>
  <div class="post-content">
    <%- page.content %>
  </div>
  <div class="post-footer">
    <% if (page.tags && page.tags.length){ %>
      <%- list_tags(page.tags, {
        show_count: false,
        class: 'post-tag'
      }) %>
    <% } %>

    <a href="#top" class="top"><%= __('Post.Top') %></a>
  </div>
</article>
 <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = "https://pingao777.github.io";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "pingao777"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://pingao777.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
<%- partial('_partial/footer') %>
